.leftMenu {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	background-color: grey;
	text-align: left;
	width: 2vw;
	height: 100%;
	overflow: hidden;
	transition: width 0.5s;
	
	p#socials, ul {
		display: none;
	}
	
	p#hamburger {
		text-align: center;
		transform: rotate(90deg);
	}
}

.leftMenu:hover {
	width: 10vw;
	
	p#hamburger {
		display: none;
	}
	
	p#socials {
		display: block;
		text-align: center;
	}
	
	ul {
		display: block;
		list-style: none;
		padding-left: 5%;
		
		li {
			padding: 2.5%;
		}
	}
}